*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}



.block1{
    width: 200px;
    height: 200px;
    background: pink;
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */
    top: calc(50% - 100px);
    left: calc(50% - 100px);

}
.block{
    width: 100px;
    height: 100px;
    background: #000;
    position: absolute;
    z-index: 9999;
}

.block2{
    width: 100px;
    height: 100px;
    background: blue;
    position: fixed;
    bottom: 20px;
    left: 50px;
}
.st{
    width: 50px;
    height: 50px;
    background: #369;
    position: sticky;
    top: 20px;
}
