*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.first-block{
    background: teal;
}
.second-block{
    background: green;
}
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #24A3FF;
    border: none;
    opacity: .2;
}
.carousel-indicators .active{
    opacity: 1;
}
.carousel-control-next, .carousel-control-prev{
    display: none;
}